@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,500&display=swap");

.runlist {
  position: absolute;
  top: 12px;
  right: 175px;
  z-index: 10000000;
  clear: both; }
  .runlist .custom-select {
    position: relative;
    right: 10px;
    width: 220px;
    float: left;
    color: #212b4f;
    font-size: 16px;
    font-weight: 300;
    color: #212b4f;
    /*style the arrow inside the select element:*/
    /*point the arrow upwards when the select box is open (active):*/
    /*style the items (options), including the selected item:*/
    /*style items (options):*/
    /*hide the items when the select box is closed:*/ }
    .runlist .custom-select select {
      display: none; }
    .runlist .custom-select .select-selected {
      border: 1px solid #dfdfdf;
      background: #fff;
      border-radius: 5px;
      padding: 18px; }
    .runlist .custom-select .select-selected:after {
      position: absolute;
      content: "";
      top: 24px;
      right: 17px;
      width: 18px;
      height: 10px;
      background: url(../images/select-arrow-down.svg);
      background-repeat: no-repeat; }
    .runlist .custom-select .select-selected.select-arrow-active:after {
      background: url(../images/select-arrow-up.svg);
      background-repeat: no-repeat; }
    .runlist .custom-select .select-items div, .runlist .custom-select .select-selected {
      padding: 18px; }
    .runlist .custom-select .select-items {
      position: absolute;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
      top: calc(100% + 4px);
      left: 0;
      right: 0;
      z-index: 99; }
    .runlist .custom-select .select-hide {
      display: none; }
    .runlist .custom-select .select-items div:hover, .runlist .custom-select .same-as-selected {
      box-shadow: 0 0 0 1px #3e64ff inset;
      border-radius: 5px; }
      .runlist .custom-select .select-items div:hover, .runlist .custom-select .same-as-selected {
        color: #3e64ff; }
  .runlist a {
    display: block;
    float: right;
    width: 92px;
    height: 56px;
    background: #3e64ff;
    border-radius: 5px; }
    .runlist a span {
      display: block;
      color: #fff;
      font-size: 20px;
      font-weight: 400;
      color: #fff;
      text-align: center;
      padding: 16px; }

.modulelist {
  width: 260px;
  height: 100%;
  background: #fff;
  float: left;
  overflow: scroll; }
  .modulelist .title {
    color: #212b4f;
    font-size: 20px;
    font-weight: 600;
    color: #212b4f;
    text-align: center;
    padding: 41px 0; }
  .modulelist input[type=checkbox]:checked + label + ul {
    /* reset the height when checkbox is checked */
    max-height: 1000px; }
  .modulelist label > span {
    -webkit-transition: -webkit-transform .65s ease;
    transition: transform .65s ease; }
  .modulelist input[type=checkbox]:checked + label > span {
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg); }
  .modulelist ul {
    margin-top: 5px; }
    .modulelist ul label {
      display: block;
      width: 100%;
      height: 55px;
      background: #f9fafc;
      color: #455462;
      font-size: 14px;
      font-weight: 600;
      color: #455462;
      padding: 20px 16px;
      cursor: pointer; }
      .modulelist ul label .tri {
        width: 8px;
        float: left;
        margin: 5px 10px 5px 0;
        border-top: 4px solid #212b4f;
        border-right: 4px solid transparent;
        border-left: 4px solid transparent; }
    .modulelist ul .group-list {
      max-height: 0;
      overflow: hidden;
      -webkit-transition: max-height .5s ease-in-out;
      transition: max-height .5s ease-in-out; }
      .modulelist ul .group-list li {
        width: 100%;
        margin: 5px 10px; }
        .modulelist ul .group-list li a {
          width: calc(100% - 20px);
          display: block;
          color: #212b4f;
          font-size: 18px;
          font-weight: 600;
          color: #212b4f;
          padding: 16px 20px;
          border: 1px solid #dfdfdf;
          background-color: #fff;
          border-radius: 5px;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); }
          .modulelist ul .group-list li a span {
            display: block;
            color: #77838f;
            font-size: 12px;
            font-weight: 300;
            color: #77838f;
            padding-top: 5px; }
        .modulelist ul .group-list li a:focus {
          border: 1px solid #3e64ff;
          box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.2); }

.board {
  position: relative;
  top: 35px;
  left: 3px;
  float: left;
  width: calc(100% - 260px);
  height: calc(100% - 10px) }
  .board .tab {
    z-index: 100;
    position: relative; }
    .board .tab ul li {
      float: left;
      background: #f9fafc;
      border: 1px #dfdfdf solid;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom: none;
      min-width: 180px;
      border-bottom: solid 1px #dfdfdf; }
      .board .tab ul li a {
        display: block;
        color: #c0c6ca;
        font-size: 16px;
        font-weight: 300;
        color: #c0c6ca;
        padding: 12px 17px; }
    .board .tab ul li.acttab {
      background: #fff;
      border-bottom: solid 1px #fff; }
      .board .tab ul li.acttab a {
        color: #455462;
        font-size: 16px;
        font-weight: 300;
        color: #455462;
        font-style: italic; }
        .board .tab ul li.acttab a span {
          display: block;
          width: 11px;
          height: 11px;
          background: url(../images/Gui.document.close.png);
          background-repeat: no-repeat;
          float: right;
          margin: 4px 0 4px 10px; }
    .board .tab ul:after {
      content: "";
      display: block;
      clear: both; }
  .board .workspace {
    z-index: 0;
    position: relative;
    top: -1px;
    width: calc(100% - 6px);
    height: calc(100% - 110px);
    background: #fff;
    border-radius: 5px;
    border-top-left-radius: 0;
    border: 1px #dfdfdf solid;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.06);
    z-index: 1;
    background: linear-gradient(90deg, #fff 14px, transparent 1%) center, linear-gradient(#fff 14px, transparent 1%) center, #DFE2EA;
    background-size: 16px 16px;
    background-position: 12px 12px;
    clear: both; }
    .board .workspace object {
      position: relative;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 0; }
    .board .workspace .modelingbtn {
      position: absolute;
      top: 35px;
      right: 35px; }
      .board .workspace .modelingbtn a {
        display: inline-block;
        width: 56px;
        height: 56px;
        background: url(../images/modelingicon.svg); }
      .board .workspace .modelingbtn a:focus {
        background: url(../images/modelingiconact.svg); }
    .board .workspace .properties {
      position: absolute;
      top: 0;
      right: -450px;
      width: 450px;
      height: 100%;
      background: #f9fafc;
      box-shadow: -5px 0 4px 0 rgba(0, 0, 0, 0.05);
      border: solid 1px #dfdfdf;
      overflow: hidden;
      -webkit-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
      float: none; }
      .board .workspace .properties .rightbtn {
        display: block;
        width: 18px;
        height: 18px;
        float: right;
        cursor: pointer; }
      .board .workspace .properties .title {
        color: #212b4f;
        font-size: 14px;
        font-weight: 600;
        color: #212b4f;
        margin: 20px; }
        .board .workspace .properties .title .close {
          background: url(../images/properties_close.svg);
          background-repeat: no-repeat;
          margin: 3px 0; }
      .board .workspace .properties hr {
        border: none;
        border-bottom: 1px dotted #dfdfdf; }
      .board .workspace .properties .properties_contents {
        margin: 20px 24px; }
        .board .workspace .properties .properties_contents .modulename {
          color: #455462;
          font-size: 18px;
          font-weight: 600;
          color: #455462;
          margin-bottom: 50px; }
          .board .workspace .properties .properties_contents .modulename .modify {
            background: url(../images/properties_modify.svg);
            background-repeat: no-repeat; }
          .board .workspace .properties .properties_contents .modulename .save {
            background: url(../images/properties_save.png);
            background-repeat: no-repeat; }
        .board .workspace .properties .properties_contents .option {
          margin: 20px 0; }
          .board .workspace .properties .properties_contents .option .optionname {
            color: #455462;
            font-size: 15px;
            font-weight: 400;
            color: #455462;
            margin-bottom: 20px; }
          .board .workspace .properties .properties_contents .option form label {
            color: #77838f;
            font-size: 12px;
            font-weight: 300;
            color: #77838f; }
          .board .workspace .properties .properties_contents .option form input {
            border: 1px solid #dfdfdf;
            width: 100%;
            border-radius: 5px;
            padding: 10px 15px;
            color: #77838f;
            font-size: 12px;
            font-weight: 400;
            color: #77838f;
            margin-top: 7px; }
    .board .workspace #menu-button:checked + .properties {
      right: 0px; }

.welcome {
  width: 100%; }
  .welcome .workspace {
    background: #fff; }
    .welcome .workspace .welcomecontents {
      margin: 140px 260px;
      max-width: 800px; }
      .welcome .workspace .welcomecontents .programtitle {
        color: #455462;
        font-size: 48px;
        font-weight: 600;
        color: #455462;
        margin-bottom: 80px; }
      .welcome .workspace .welcomecontents .group {
        float: left;
        width: 400px;
        margin: 40px 0; }
        .welcome .workspace .welcomecontents .group span.groupname {
          display: block;
          color: #455462;
          font-size: 24px;
          font-weight: 500;
          color: #455462;
          margin-bottom: 30px; }
        .welcome .workspace .welcomecontents .group a {
          position: relative;
          display: block;
          color: #77838f;
          font-size: 16px;
          font-weight: 300;
          color: #77838f;
          margin: 7px 0; }
          .welcome .workspace .welcomecontents .group a span {
            font-style: italic;
            font-weight: 200;
            position: absolute;
            left: 200px; }
    .welcome .workspace .welcomecontents:after {
      content: '';
      display: block;
      height: 0;
      clear: both; }
    .welcome .workspace *:first-child + html .welcome {
      min-height: 1px; }

/*# sourceMappingURL=board.css.map */
