@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

*:focus {
  outline: none; }

header {
  width: 100%;
  height: 60px;
  background: #212b4f;
  z-index: 10000000000000000; }
  header h1 {
    position: absolute;
    width: 110px; }
    header h1 a {
      display: block;
      width: 30px;
      height: 30px;
      background: url(../images/logo.png);
      background-repeat: no-repeat;
      margin: 15px auto; }
  header .nav {
    position: absolute;
    left: 110px; }
    header .nav ul {
      position: relative;
      display: inline-table; }
      header .nav ul li {
        float: left; }
        header .nav ul li a {
          display: block;
          color: #fff;
          font-size: 20px;
          font-weight: 300;
          color: #fff;
          padding: 18px 30px; }
        header .nav ul li ul {
          display: none;
          position: absolute;
          top: 100%;
          width: 370px;
          padding: 8px 0px;
          background: #f9fafc;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
          header .nav ul li ul li {
            float: none;
            position: relative; }
            header .nav ul li ul li a {
              color: #455462;
              font-size: 18px;
              font-weight: 300;
              color: #455462;
              padding: 8px 30px; }
              header .nav ul li ul li a span {
                float: right;
                font-size: 18px; }
              header .nav ul li ul li a span.viewsub {
                display: block;
                width: 10px;
                height: 18px;
                background: url(../images/gosub.png);
                background-repeat: no-repeat; }
            header .nav ul li ul li a:hover {
              background: #A3BCCA;
              color: #fff;
              font-size: 18px;
              font-weight: 300;
              color: #fff; }
              header .nav ul li ul li a:hover span.viewsub {
                display: block;
                width: 10px;
                height: 18px;
                background: url(../images/gosubselect.png);
                background-repeat: no-repeat; }
            header .nav ul li ul li ul {
              position: absolute;
              left: 100%;
              top: -8px;
              width: 260px; }
          header .nav ul li ul hr {
            border: none;
            border-bottom: 1px solid #dfdfdf;
            margin: 8px 30px; }
          header .nav ul li ul li:hover {
            background: #f9fafc; }
      header .nav ul li:hover {
        background: #374060; }
      header .nav ul li:hover > ul {
        display: block; }
    header .nav ul:after {
      content: "";
      clear: both;
      display: block; }
  header div.welcome {
    text-align: center;
    padding: 18px 30px; }
    header div.welcome span {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      color: #fff; }
  header div.widnowsbtn {
    position: absolute;
    right: 0;
    top: 0; }
    header div.widnowsbtn ul {
      display: inline-table;
      padding: 18px 30px; }
      header div.widnowsbtn ul li {
        float: left;
        padding: 3px 0px 3px 66px; }
        header div.widnowsbtn ul li a {
          display: block;
          width: 18px;
          height: 18px;
          background-image: url(../images/max_btn.png);
          background-repeat: no-repeat; }
      header div.widnowsbtn ul li:first-child {
        padding-left: 0; }
        header div.widnowsbtn ul li:first-child a {
          background-image: url(../images/min_btn.png);
          background-repeat: no-repeat; }
      header div.widnowsbtn ul li:last-child a {
        background-image: url(../images/close_btn.png);
        background-repeat: no-repeat; }

main {
  clear: both;
  height: calc(100% - 60px); }
  main aside#sidebar {
    float: left;
    width: 110px;
    background: #171d34;
    height: 100%; }
    main aside#sidebar ul.leftmenu li a {
      display: block;
      padding: 37px; }
      main aside#sidebar ul.leftmenu li a span {
        display: block;
        width: 36px;
        height: 36px;
        margin: 0 auto; }
    main aside#sidebar ul.leftmenu li a.on {
      background-color: #3e64ff; }
    main aside#sidebar ul.leftmenu li:first-child a span {
      background: url(../images/left_menu1.png);
      background-repeat: no-repeat; }
    main aside#sidebar ul.leftmenu li:first-child a.on span {
      background: url(../images/left_menu1_on.png);
      background-repeat: no-repeat; }
    main aside#sidebar ul.leftmenu li:last-child a span {
      background: url(../images/left_menu2.png);
      background-repeat: no-repeat; }
    main aside#sidebar ul.botbtn {
      position: absolute;
      bottom: 0; }
      main aside#sidebar ul.botbtn li {
        display: block;
        padding: 37px; }
        main aside#sidebar ul.botbtn li a span {
          display: block;
          width: 36px;
          height: 36px;
          margin: 0 auto;
          background: url(../images/left_setting.png);
          background-repeat: no-repeat; }
  main section {
    float: right;
    width: calc(100% - 110px);
    height: 100%;
    background: #f2f6f9; }
    main section .menu {
      position: absolute;
      top: 75px;
      right: 20px; }
      main section .menu > ul {
        display: inline-table; }
        main section .menu > ul > li {
          float: left; }
          main section .menu > ul > li > a {
            position: relative;
            display: block;
            width: 50px;
            height: 50px;
            margin-bottom: 10px; }
            main section .menu > ul > li > a span {
              display: block;
              width: 23px;
              height: 23px;
              background: #FF5B48;
              border-radius: 50%;
              border: #f2f6f9 3px solid;
              position: absolute;
              bottom: 0;
              right: 0;
              color: #f2f6f9;
              font-size: 14px;
              font-weight: 500;
              color: #f2f6f9;
              text-align: center; }
        main section .menu > ul > li:first-child {
          margin-right: 25px; }
          main section .menu > ul > li:first-child > a {
            background: url(../images/gui-notice.svg);
            background-repeat: no-repeat; }
        main section .menu > ul > li:last-child > a {
          background: url(../images/gui-profile.png);
          background-repeat: no-repeat; }
        main section .menu > ul li:hover > ul {
          display: block; }
        main section .menu > ul ul.list {
          display: none;
          width: 350px;
          background: #fff;
          border: 1px solid #dfdfdf;
          border-radius: 5px;
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
          position: absolute;
          top: 100%;
          right: 0px; }
          main section .menu > ul ul.list hr {
            border: none;
            border-bottom: 1px dotted #dfdfdf;
            margin: 0 25px; }
          main section .menu > ul ul.list > li {
            float: none;
            position: relative;
            margin: 15px 25px; }
            main section .menu > ul ul.list > li div.icon {
              width: 25px;
              height: 25px;
              margin: 7px 25px 7px 0;
              float: left; }
            main section .menu > ul ul.list > li div.alram {
              background: url(../images/Gui.notice.list.icon.alram.png);
              background-repeat: no-repeat; }
            main section .menu > ul ul.list > li div.date {
              background: url(../images/Gui.notice.list.icon.date.png);
              background-repeat: no-repeat; }
            main section .menu > ul ul.list > li a {
              display: block;
              float: left;
              color: #455462;
              font-size: 14px;
              font-weight: 300;
              color: #455462;
              line-height: 20px; }
              main section .menu > ul ul.list > li a span {
                color: #77838f;
                font-size: 12px;
                font-weight: 100;
                color: #77838f; }
            main section .menu > ul ul.list > li div.del {
              float: right;
              margin: 15px 0; }
              main section .menu > ul ul.list > li div.del a {
                display: block;
                width: 11px;
                height: 11px;
                background: url(../images/Gui.document.close.png);
                background-repeat: no-repeat; }
          main section .menu > ul ul.list > li:after {
            content: "";
            clear: both;
            display: block; }
          main section .menu > ul ul.list div.page ul {
            text-align: center;
            margin: 25px 0 5px 0; }
            main section .menu > ul ul.list div.page ul li {
              display: inline-block; }
              main section .menu > ul ul.list div.page ul li a {
                display: block;
                width: 10px;
                height: 10px;
                background: #dfdfdf;
                border-radius: 50%;
                margin: 3px; }
            main section .menu > ul ul.list div.page ul li.act a {
              background: #3e64ff; }
    main section object {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 0; }
    main section .state {
      position: absolute;
      bottom: 0;
      width: calc(100% - 110px);
      height: 28px;
      background: #d8d8d8; }
      main section .state .bar {
        position: absolute;
        bottom: 0;
        width: 30%;
        height: 28px;
        background: #3e64ff; }
      main section .state .processing {
        position: absolute;
        bottom: 0;
        width: 100%; }
        main section .state .processing p {
          margin: 6px 30px;
          color: #171d34;
          font-size: 14px;
          font-weight: 300;
          color: #171d34; }
          main section .state .processing p span {
            float: right; }
      main section .state .act p {
        color: #fff; }

div#popup {
  position: absolute;
  top: 0;
  left: 0;
  /* 참고 https://dgkim5360.tistory.com/entry/adjusting-iframe-height-100-precent */ }
  div#popup object {
    width: 100vw;
    height: 100vh; }

.hidden {
  display: none; }

.rotation button > span {
  -webkit-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  transform: rotate(-180deg); }

.board {
  position: relative; }
  .board .box {
    top: 100px;
    left: 200px; }
  .board .box2 {
    top: 240px;
    left: 700px; }
  .board .box, .board .box2 {
    position: absolute;
    width: 300px;
    height: fit-content; }
    .board .box .modulebox, .board .box2 .modulebox {
      width: 300px;
      background: #f9fafc;
      box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
      cursor: pointer; }
      .board .box .modulebox span.groupname, .board .box2 .modulebox span.groupname {
        display: block;
        color: #455462;
        font-size: 14px;
        font-weight: 600;
        color: #455462;
        padding: 8px 20px;
        clear: both; }
        .board .box .modulebox span.groupname a.setting, .board .box2 .modulebox span.groupname a.setting {
          position: relative;
          float: right;
          padding: 5px 0;
          width: fit-content;
          height: 20px; }
          .board .box .modulebox span.groupname a.setting .oval, .board .box2 .modulebox span.groupname a.setting .oval {
            display: inline-block;
            width: 3px;
            height: 3px;
            border: solid 1px #455462;
            border-radius: 50%;
            margin: 2px; }
          .board .box .modulebox span.groupname a.setting .deloption, .board .box2 .modulebox span.groupname a.setting .deloption {
            display: none;
            position: absolute;
            top: 15px;
            width: 110px;
            border-radius: 4px;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
            border: solid 1px #e0e3ef;
            background-color: #f9fafc;
            padding: 13px 16px; }
            .board .box .modulebox span.groupname a.setting .deloption img, .board .box2 .modulebox span.groupname a.setting .deloption img {
              margin-right: 10px; }
            .board .box .modulebox span.groupname a.setting .deloption span, .board .box2 .modulebox span.groupname a.setting .deloption span {
              color: #455462;
              font-size: 14px;
              font-weight: 300;
              color: #455462; }
        .board .box .modulebox span.groupname a.setting:hover .deloption, .board .box2 .modulebox span.groupname a.setting:hover .deloption {
          display: block; }
      .board .box .modulebox hr, .board .box2 .modulebox hr {
        border: none;
        border-bottom: 1px solid #dfdfdf; }
      .board .box .modulebox div.module, .board .box2 .modulebox div.module {
        padding: 20px 35px; }
        .board .box .modulebox div.module span, .board .box2 .modulebox div.module span {
          display: block; }
        .board .box .modulebox div.module span.name, .board .box2 .modulebox div.module span.name {
          color: #212b4f;
          font-size: 18px;
          font-weight: 600;
          color: #212b4f; }
        .board .box .modulebox div.module .info, .board .box2 .modulebox div.module .info {
          color: #77838f;
          font-size: 12px;
          font-weight: 300;
          color: #77838f;
          padding: 8px 0 12px 0; }
        .board .box .modulebox div.module .option span, .board .box2 .modulebox div.module .option span {
          display: inline-block;
          color: #77838f;
          font-size: 12px;
          font-weight: 300;
          color: #77838f;
          background: #EBEFFF;
          padding: 5px 12px;
          width: fit-content;
          height: 22px;
          border-radius: 15px;
          margin: 2px; }
          .board .box .modulebox div.module .option span strong, .board .box2 .modulebox div.module .option span strong {
            margin-right: 5px; }
      .board .box .modulebox .hiddenimg, .board .box2 .modulebox .hiddenimg {
        padding: 2px; }
      .board .box .modulebox #more .more, .board .box .modulebox #more2 .more, .board .box2 .modulebox #more .more, .board .box2 .modulebox #more2 .more {
        width: 100%;
        border: none;
        background: none; }
        .board .box .modulebox #more .more .tri, .board .box .modulebox #more2 .more .tri, .board .box2 .modulebox #more .more .tri, .board .box2 .modulebox #more2 .more .tri {
          display: block;
          width: 8px;
          margin: 10px auto;
          border-top: 4px solid #212b4f;
          border-right: 4px solid transparent;
          border-left: 4px solid transparent;
          -webkit-transition: -webkit-transform .45s ease;
          transition: transform .45s ease; }
    .board .box .point, .board .box2 .point {
      position: absolute;
      top: 0px;
      width: 300px;
      height: fit-content; }
      .board .box .point span, .board .box2 .point span {
        position: absolute;
        display: inline-block;
        width: 12px;
        height: 12px;
        border: 1px solid #3e64ff;
        border-radius: 50%;
        background: #fff; }
      .board .box .point .top, .board .box2 .point .top {
        top: -6px;
        left: calc(50% - 6px); }
      .board .box .point .left, .board .box2 .point .left {
        left: -6px;
        top: 104px; }
      .board .box .point .right, .board .box2 .point .right {
        right: -6px;
        top: 104px; }
      .board .box .point .bottom, .board .box2 .point .bottom {
        top: 214px;
        left: calc(50% - 6px); }
    .board .box .modulboxdefault, .board .box2 .modulboxdefault {
      border-radius: 5px;
      border: 1px solid #dfdfdf; }
    .board .box .moduleboxclick, .board .box2 .moduleboxclick {
      border: 1px solid #3e64ff;
      border-radius: 5px; }
  .board div.line {
    width: 100%;
    height: 100%; }
    .board div.line svg {
      width: 100%;
      height: 100%; }

/*# sourceMappingURL=module.css.map */
