@charset "UTF-8";
@import url("http://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100;1,300;1,500&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: roboto, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box; }

*:focus {
  outline: none; }

header {
  width: 100%;
  height: 60px;
  background: #212b4f;
  z-index: 10000000000000000; }
  header h1 {
    position: absolute;
    width: 110px; }
    header h1 a {
      display: block;
      width: 30px;
      height: 30px;
      background: url(../images/logo.png);
      background-repeat: no-repeat;
      margin: 15px auto; }
  header .nav {
    position: absolute;
    left: 110px; }
    header .nav ul {
      position: relative;
      display: inline-table; }
      header .nav ul li {
        float: left; }
        header .nav ul li a {
          display: block;
          color: #fff;
          font-size: 20px;
          font-weight: 300;
          color: #fff;
          padding: 18px 30px; }
        header .nav ul li ul {
          display: none;
          position: absolute;
          top: 100%;
          width: 370px;
          padding: 8px 0px;
          background: #f9fafc;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
          header .nav ul li ul li {
            float: none;
            position: relative; }
            header .nav ul li ul li a {
              color: #455462;
              font-size: 18px;
              font-weight: 300;
              color: #455462;
              padding: 8px 30px; }
              header .nav ul li ul li a span {
                float: right;
                font-size: 18px; }
              header .nav ul li ul li a span.viewsub {
                display: block;
                width: 10px;
                height: 18px;
                background: url(../images/gosub.png);
                background-repeat: no-repeat; }
            header .nav ul li ul li a:hover {
              background: #A3BCCA;
              color: #fff;
              font-size: 18px;
              font-weight: 300;
              color: #fff; }
              header .nav ul li ul li a:hover span.viewsub {
                display: block;
                width: 10px;
                height: 18px;
                background: url(../images/gosubselect.png);
                background-repeat: no-repeat; }
            header .nav ul li ul li ul {
              position: absolute;
              left: 100%;
              top: -8px;
              width: 260px; }
          header .nav ul li ul hr {
            border: none;
            border-bottom: 1px solid #dfdfdf;
            margin: 8px 30px; }
          header .nav ul li ul li:hover {
            background: #f9fafc; }
      header .nav ul li:hover {
        background: #374060; }
      header .nav ul li:hover > ul {
        display: block; }
    header .nav ul:after {
      content: "";
      clear: both;
      display: block; }
  header div.welcome {
    text-align: center;
    padding: 18px 30px; }
    header div.welcome span {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      color: #fff; }
  header div.windowsbtn {
    position: absolute;
    right: 0;
    top: 0; }
    header div.windowsbtn ul {
      display: inline-table;
      padding: 18px 30px; }
      header div.windowsbtn ul li {
        float: left;
        padding: 3px 0px 3px 66px; }
        header div.windowsbtn ul li a {
          display: block;
          width: 18px;
          height: 18px;
          background-image: url(../images/max_btn.png);
          background-repeat: no-repeat; }
      header div.windowsbtn ul li:first-child {
        padding-left: 0; }
        header div.windowsbtn ul li:first-child a {
          background-image: url(../images/min_btn.png);
          background-repeat: no-repeat; }
      header div.windowsbtn ul li:last-child a {
        background-image: url(../images/close_btn.png);
        background-repeat: no-repeat; }

main {
  clear: both;
  height: calc(100% - 60px); }
  main aside#sidebar {
    float: left;
    width: 110px;
    background: #171d34;
    height: 100%; }
    main aside#sidebar ul.leftmenu li a {
      display: block;
      padding: 37px; }
      main aside#sidebar ul.leftmenu li a span {
        display: block;
        width: 36px;
        height: 36px;
        margin: 0 auto; }
    main aside#sidebar ul.leftmenu li a.on {
      background-color: #3e64ff; }
    main aside#sidebar ul.leftmenu li:first-child a span {
      background: url(../images/left_menu1.png);
      background-repeat: no-repeat; }
    main aside#sidebar ul.leftmenu li:first-child a.on span {
      background: url(../images/left_menu1_on.png);
      background-repeat: no-repeat; }
    main aside#sidebar ul.leftmenu li:last-child a span {
      background: url(../images/left_menu2.png);
      background-repeat: no-repeat; }
    main aside#sidebar ul.botbtn {
      position: absolute;
      bottom: 0; }
      main aside#sidebar ul.botbtn li {
        display: block;
        padding: 37px; }
        main aside#sidebar ul.botbtn li a span {
          display: block;
          width: 36px;
          height: 36px;
          margin: 0 auto;
          background: url(../images/left_setting.png);
          background-repeat: no-repeat; }
  main section {
    float: right;
    width: calc(100% - 110px);
    height: 100%;
    background: #f2f6f9; }
    main section .menu {
      position: absolute;
      top: 75px;
      right: 20px; }
      main section .menu > ul {
        display: inline-table; }
        main section .menu > ul > li {
          float: left; }
          main section .menu > ul > li > a {
            position: relative;
            display: block;
            width: 50px;
            height: 50px;
            margin-bottom: 10px; }
            main section .menu > ul > li > a span {
              display: block;
              width: 23px;
              height: 23px;
              background: #FF5B48;
              border-radius: 50%;
              border: #f2f6f9 3px solid;
              position: absolute;
              bottom: 0;
              right: 0;
              color: #f2f6f9;
              font-size: 14px;
              font-weight: 500;
              color: #f2f6f9;
              text-align: center; }
        main section .menu > ul > li:first-child {
          margin-right: 25px; }
          main section .menu > ul > li:first-child > a {
            background: url(../images/gui-notice.svg);
            background-repeat: no-repeat; }
        main section .menu > ul > li:last-child > a {
          background: url(../images/gui-profile.png);
          background-repeat: no-repeat; }
        main section .menu > ul li:hover > ul {
          display: block; }
        main section .menu > ul ul.list {
          display: none;
          width: 350px;
          background: #fff;
          border: 1px solid #dfdfdf;
          border-radius: 5px;
          box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
          position: absolute;
          top: 100%;
          right: 0px; }
          main section .menu > ul ul.list hr {
            border: none;
            border-bottom: 1px dotted #dfdfdf;
            margin: 0 25px; }
          main section .menu > ul ul.list > li {
            float: none;
            position: relative;
            margin: 15px 25px; }
            main section .menu > ul ul.list > li div.icon {
              width: 25px;
              height: 25px;
              margin: 7px 25px 7px 0;
              float: left; }
            main section .menu > ul ul.list > li div.alram {
              background: url(../images/Gui.notice.list.icon.alram.png);
              background-repeat: no-repeat; }
            main section .menu > ul ul.list > li div.date {
              background: url(../images/Gui.notice.list.icon.date.png);
              background-repeat: no-repeat; }
            main section .menu > ul ul.list > li a {
              display: block;
              float: left;
              color: #455462;
              font-size: 14px;
              font-weight: 300;
              color: #455462;
              line-height: 20px; }
              main section .menu > ul ul.list > li a span {
                color: #77838f;
                font-size: 12px;
                font-weight: 100;
                color: #77838f; }
            main section .menu > ul ul.list > li div.del {
              float: right;
              margin: 15px 0; }
              main section .menu > ul ul.list > li div.del a {
                display: block;
                width: 11px;
                height: 11px;
                background: url(../images/Gui.document.close.png);
                background-repeat: no-repeat; }
          main section .menu > ul ul.list > li:after {
            content: "";
            clear: both;
            display: block; }
          main section .menu > ul ul.list div.page ul {
            text-align: center;
            margin: 25px 0 5px 0; }
            main section .menu > ul ul.list div.page ul li {
              display: inline-block; }
              main section .menu > ul ul.list div.page ul li a {
                display: block;
                width: 10px;
                height: 10px;
                background: #dfdfdf;
                border-radius: 50%;
                margin: 3px; }
            main section .menu > ul ul.list div.page ul li.act a {
              background: #3e64ff; }
    main section object {
      position: relative;
      width: 100%;
      height: 100%;
      z-index: 0; }
    main section .state {
      position: absolute;
      bottom: 0;
      width: calc(100% - 110px);
      height: 28px;
      background: #d8d8d8; }
      main section .state .bar {
        position: absolute;
        bottom: 0;
        width: 30%;
        height: 28px;
        background: #3e64ff; }
      main section .state .processing {
        position: absolute;
        bottom: 0;
        width: 100%; }
        main section .state .processing p {
          margin: 6px 30px;
          color: #171d34;
          font-size: 14px;
          font-weight: 300;
          color: #171d34; }
          main section .state .processing p span {
            float: right; }
      main section .state .act p {
        color: #fff; }

div#popup {
  position: absolute;
  top: 0;
  left: 0;
  /* 참고 https://dgkim5360.tistory.com/entry/adjusting-iframe-height-100-precent */ }
  div#popup object {
    width: 100vw;
    height: 100vh; }

.dark {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3); }
  .dark .popup {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -327px;
    margin-left: -300px;
    width: 600px;
    height: 645px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.1); }
    .dark .popup .header {
      background: #455462;
      border-radius: 5px 5px 0 0;
      padding: 60px 0;
      text-align: center;
      color: #fff;
      font-size: 36px;
      font-weight: 600;
      color: #fff; }
      .dark .popup .header span {
        display: block;
        color: #fff;
        font-size: 18px;
        font-weight: 300;
        color: #fff;
        margin-top: 10px; }
    .dark .popup ul {
      margin: 30px 25px; }
      .dark .popup ul li {
        margin-bottom: 7px; }
        .dark .popup ul li a {
          display: block;
          width: 550px;
          height: 80px;
          border-radius: 5px;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
          border: solid 1px #dfdfdf;
          color: 77838f;
          font-size: 18px;
          font-weight: 300;
          color: 77838f; }
          .dark .popup ul li a span {
            display: block;
            margin: 28px 20px 0 120px; }
        .dark .popup ul li a.objectreco {
          background: url(../images/objectreco.svg);
          background-repeat: no-repeat;
          background-size: 60px 60px;
          background-position: 20px 10px; }
        .dark .popup ul li a.griddete {
          background: url(../images/griddetectionicon.svg);
          background-repeat: no-repeat;
          background-size: 60px 60px;
          background-position: 20px 10px; }
        .dark .popup ul li a.facereco {
          background: url(../images/facerecognitionicon.svg);
          background-repeat: no-repeat;
          background-size: 60px 60px;
          background-position: 20px 10px; }
      .dark .popup ul a:focus {
        border: solid 1px #3e64ff; }
    .dark .popup div.btn {
      text-align: center;
      margin: 56px 0; }
      .dark .popup div.btn button {
        width: 170px;
        color: #455462;
        font-size: 20px;
        font-weight: 400;
        color: #455462;
        background: #f9fafc;
        border: 1px solid #dfdfdf;
        border-radius: 5px;
        padding: 15px 0;
        cursor: pointer; }
      .dark .popup div.btn button.ok {
        background: #3e64ff;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        color: #fff; }

/*# sourceMappingURL=popup.css.map */
