.titlebar-area {
  position: fixed;
  top: 0px;
  left: 0px;
  
  display: table;
  width: 100%;
  height: 50px;
  text-align: center;
  vertical-align: middle;
  padding: 0px 10px 0px 10px;
  background-color: rgb(34, 43, 77);
  border-bottom: 1px solid rgb(0, 0, 0);
  -webkit-app-region: drag;
}

.content-area {
  margin-top: 50px;
}

.gnb-area {
  /* position: fixed; */
  float: left;
  width: 50px;
  /* height: 100%; */
  height: 100vh;
  background-color: rgb(53, 53, 53);
  border-right: 1px solid rgb(0, 0, 0);
}

.sidebar-area {
  /* position: fixed; */
  float: left;
  width: 0px;
  height: 100vh;
  background-color: aliceblue;
}

.view-area {
  float: left;
  min-height: 100vh;
  background-color: rgb(36, 36, 36);
}