/**
* 2020.03.11 Test (적용은 안함)
*/

.bg-color-black {
  background-color: #102131;
}

.bg-color-green {
  background-color: #47cf73;
}

.bg-color-orange {
  background-color: #ffac31;
}

.bg-color-gray {
  background-color: #a0a0a0;
}
