

.contextmenu {
  fill: rgb(240, 240, 240);
  stroke: rgb(255, 255, 255);

  /* background-color: rgb(240, 240, 240);
  border: 1px solid rgb(255, 255, 255); */
  width: 200px;
}

.contextmenu-text {
  fill: black;
  font-size: smaller;
  alignment-baseline: middle;
  cursor: pointer;
}

.contextmenu-item {
  fill: rgb(240, 240, 240);
  /* background-color: rgb(240, 240, 240); */
  width: 200px;
  height: 30px;
  cursor: pointer;
}