header {
  width: 100%;
  height: 60px;
  background: #212b4f;
  z-index: 10000000000000000; }
  header h1 {
    position: absolute;
    width: 110px; }
    header h1 a {
      display: block;
      width: 30px;
      height: 30px;
      background: url(../images/logo.png);
      background-repeat: no-repeat;
      margin: 15px auto; }
  header .nav {
    position: absolute;
    left: 110px; }
    header .nav ul {
      position: relative;
      display: inline-table; }
      header .nav ul li {
        float: left; }
        header .nav ul li a {
          display: block;
          color: #fff;
          font-size: 20px;
          font-weight: 300;
          color: #fff;
          padding: 18px 30px; }
        header .nav ul li ul {
          display: none;
          position: absolute;
          top: 100%;
          width: 370px;
          padding: 8px 0px;
          background: #f9fafc;
          box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2); }
          header .nav ul li ul li {
            float: none;
            position: relative; }
            header .nav ul li ul li a {
              color: #455462;
              font-size: 18px;
              font-weight: 300;
              color: #455462;
              padding: 8px 30px; }
              header .nav ul li ul li a span {
                float: right;
                font-size: 18px; }
              header .nav ul li ul li a span.viewsub {
                display: block;
                width: 10px;
                height: 18px;
                background: url(../images/gosub.png);
                background-repeat: no-repeat; }
            header .nav ul li ul li a:hover {
              background: #A3BCCA;
              color: #fff;
              font-size: 18px;
              font-weight: 300;
              color: #fff; }
              header .nav ul li ul li a:hover span.viewsub {
                display: block;
                width: 10px;
                height: 18px;
                background: url(../images/gosubselect.png);
                background-repeat: no-repeat; }
            header .nav ul li ul li ul {
              position: absolute;
              left: 100%;
              top: -8px;
              width: 260px; }
          header .nav ul li ul hr {
            border: none;
            border-bottom: 1px solid #dfdfdf;
            margin: 8px 30px; }
          header .nav ul li ul li:hover {
            background: #f9fafc; }
      header .nav ul li:hover {
        background: #374060; }
      header .nav ul li:hover > ul {
        display: block; }
    header .nav ul:after {
      content: "";
      clear: both;
      display: block; }
  header div.welcome {
    text-align: center;
    padding: 18px 30px; }
    header div.welcome span {
      color: #fff;
      font-size: 20px;
      font-weight: 500;
      color: #fff; }
  header div.windowsbtn {
    position: absolute;
    right: 0;
    top: 0; }
    header div.windowsbtn ul {
      display: inline-table;
      padding: 18px 30px; }
      header div.windowsbtn ul li {
        float: left;
        padding: 3px 0px 3px 66px; }
        header div.windowsbtn ul li a {
          display: block;
          width: 18px;
          height: 18px;
          background-image: url(../images/max_btn.png);
          background-repeat: no-repeat; }
      header div.windowsbtn ul li:first-child {
        padding-left: 0; }
        header div.windowsbtn ul li:first-child a {
          background-image: url(../images/min_btn.png);
          background-repeat: no-repeat; }
      header div.windowsbtn ul li:last-child a {
        background-image: url(../images/close_btn.png);
        background-repeat: no-repeat; }




/* .header-area {
  display: table;
  width: 100%;
  min-height: 56px;
  max-height: 56px;
  background-image: linear-gradient(to right, #425eff, #7355fc 50%);
}

.header-area.bg-color-orange {
  background-image: linear-gradient(to right, #ffa600, #fcb93e 50%);
}

.header-area > div {
  display: table-cell;
  vertical-align: middle;
}

.header-text {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-family: Arial;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  color: #ffffff;
}

.header-button-area {
  position: fixed;
  right: 15px;
  width: 300px;
  display: table;
}

.header-button {
  display: table-cell;
  width: 88px;
  height: 40px;
  box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.2);
  border: 3px solid transparent;
  border-radius: 4px;
  outline: none;
  text-align: center;
  vertical-align: middle;
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  font-size: 15px;
  pointer-events: auto;
  cursor: pointer;
}

.bg-color-green {
  background-color: #47cf73;
}

.bg-color-green:hover {
  background-color: #3aad5e;
}

.bg-color-orange {
  background-color: #ffac31;
}

.bg-color-orange:hover {
  background-color: #dd9529;
}

.header-button.disabled {
  background-color: #a0a0a0;
}

.header-button.disabled:hover {
  background-color: #8f8f8f;
}

.button {
  cursor: pointer;
} */
