.header-area {
  display: table;
  width: 100%;
  height: 56px;
  background-image: linear-gradient(to right, #425eff, #7355fc 50%);
}

.header-area * {
  display: table-cell;
  vertical-align: middle;
}

.header-text {
  /* display: table-cell; */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  font-family: Arial;
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.67;
  letter-spacing: normal;
  color: #ffffff;
}

/* 
.header-button-area {
    position: fixed;
    right: 15px;
    margin-left: 10px;
    align-items: center;
    display: inline-flex;
} */

.header-button {
    width: 88px;
    height: 40px;
    color: rgb(0, 0, 0);
    background-color: #47cf73;
    box-shadow: 1px 1px 1px rgba(170, 170, 170, 0.2);
    border: 3px solid transparent;
    border-radius: 4px;

    text-align: center;
    font-family: 'Lato', 'Lucida Grande', 'Lucida Sans Unicode', Tahoma, Sans-Serif;
    font-size: 16px;

    pointer-events: auto;
    cursor: pointer;

    /* text 가운데정렬 */
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
}

.header-button:hover {
    background-color: #3aad5e;
}