.node-container {
}

.node-background {
  fill: transparent;
  stroke: rgb(99, 64, 224);
  stroke-width: 2px;
  /* fill: rgb(255, 255, 255); */
  /* width: 204px;
    height: 97px; */
}

.content-property-rect {
  /* height: 20px; */
  fill: #ebebeb;
}

.content-property {
  font-family: monospace;
  font-size: 10px;
  font-weight: bold;
  fill: rgb(29, 39, 126);
}

.node-selector {
  /* width: 204px;
    height: 97px; */
  fill: rgba(255, 255, 255, 0);
}

.node-selector.selected {
  /* width: 204px;
    height: 97px; */
  /* fill: rgba(255, 255, 255, 0); */
  stroke: rgb(255, 208, 0);
  stroke-width: 2px;
}

.node-preview-button {
  fill: transparent;
  stroke: rgb(99, 64, 224);
}

.node-preview {
  /* cursor: pointer; */
}

.node-preview-text {
  fill: rgb(69, 165, 165);
  font-size: 10px;
  text-anchor: middle;
}

.header-title {
  font-size: 13px;
  fill: rgb(0, 0, 0);
  text-anchor: middle;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.header-group {
  font-size: 8px;
  fill: rgb(141, 141, 141);
  text-anchor: middle;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.node-content {
  fill: #3c3c3c;
}

.content-round-rect {
  width: 200px;
  height: 50px;
}

.content-rect {
  width: 200px;
  height: 46px;
}

.port-scrim {
  fill: transparent;
}

.port-outer {
  fill: #777777;
}

.port-inner {
  fill: #202020;
}

.port-label {
  font-size: 12px;
  fill: #fff;
}

.input-field .port-label {
  text-anchor: start;
}

.output-field .port-label {
  text-anchor: end;
}

.link-handle {
  fill: rgb(173, 222, 255);
}

.link-path {
  stroke: rgb(173, 222, 255);
  stroke-width: 3;
  fill: none;
}

.link-path-outline {
  stroke: rgb(173, 222, 255);
  stroke-width: 4;
  fill: none;
}
